:root {
    --bg-color: #121212;
    --fg-color: #292421;
    --text-color: #e0e0e0;

    --text-area: #3a342f;
    --text-placeholder: #ffffff80;

    --link-normal: #f0d9ba;
    --link-dark: #d2ad79;

    --button-lighter: #a07841;
    --button-darker: #7f633b;

    --shadow-color: #0000001a;
}

body.light-mode {
    --bg-color: #c0b9b1;
    --text-color: #323232;
    --fg-color: #e0d8d1;

    --text-area: #eeeeee;
    --text-placeholder: #808080;

    --link-normal: #836844;
    --link-dark: #412f19;

    --button-lighter: #b8915a;
    --button-darker: #9b7b4f;
}

.signBody{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--text-color);
    background-color: var(--bg-color);
    /* transition: 0.3s ease-in-out; */

    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.signBox{
    background: var(--fg-color);
    padding: 20px;
    max-width: 450px;
    width: 100%;
    box-shadow: 0 4px 6px -1px var(--shadow-color), 0 2px 4px -2px var(--shadow-color);
    border-radius: 8px;
}

.signBox text{
    font-weight: bold;
    font-size: 17px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}

.signBox label{
    padding-left: 3px;
    height: auto;
}

.signTextArea{
    background-color: var(--text-area);
    color: var(--text-color);
    width: 98%;
    height: 40px;
    outline: none;
    border-radius: 8px;
    border: 1px solid gray;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 0 7px;
}

.signTextArea::placeholder{
    color: var(--text-placeholder);
}

.signTextArea:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px var(--text-area) inset;
    -webkit-text-fill-color: var(--text-color) !important;
}

.signButton{
    background-color: var(--button-darker);
    color: aliceblue;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    /* margin-left: 7%; */
}

.signButton:hover{
    transition: 0.2s;
    background-color: var(--button-lighter);
    /* margin-left: 7%; */
}

.signLink{
    color: var(--link-dark);
    font-size: small;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.signLink:hover{
    color: var(--link-normal);
    transition: 0.2s;
}
