:root {
    /* transition: 0.3s; */

    --bg-color: #121212;
    --fg-color: #292421;
    --text-color: #e0e0e0;
    --dr-color: #25211f;
    --empty-bar: #00000033;
    --profile: #e7cca5;
    
    --shadow-color: #0000001a;
    --brown: #aa9476;
    --link-normal: #836844;
    --link-dark: #412f19;
}

body.light-mode {
    --bg-color: #c0b9b1;
    --fg-color: #e0d8d1;
    --text-color: #323232;
    --dr-color: #cfc9c1;
    --empty-bar: #ffffff33;
    --profile: #946e40;


}

/* Global Styles */
body {
    margin: 0;
    /* font-family: Arial, sans-serif; */
    /* font-family: 'Century Gothic', sans-serif; */
    /* font-family: 'helvetica', sans-serif; */
    /* font-family: 'Segoe UI Variable', system-ui, sans-serif; */
    /* font-family: ui-sans-serif, system-ui, sans-serif; */
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: var(--text-color);
    background-color: var(--bg-color);
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--fg-color);
    padding: 8px 10px;
    box-shadow: 0 4px 6px -1px var(--shadow-color), 0 2px 4px -2px var(--shadow-color);

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.navbar .left {
    display: flex;
    flex-direction: row;
}

.navbar h1 {
    margin: 5px;
}

.below-navbar {
    padding-top: 50px;
}

h2{
    margin: 0px;
    font-size: 20px;
}

p{
    margin: 4px 0 0 1px;
}

.menu-btn {
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: var(--text-color);
    margin-right: 25px;
    width: 10px;
}



/* Sidebar (Drawer) */
.drawer {
    position: fixed;
    left: -300px;
    width: 230px;
    height: 100%;
    background: var(--dr-color);
    box-shadow: 0 4px 6px -1px var(--shadow-color), 0 2px 4px -2px var(--shadow-color);
    transition: left 0.3s ease-in-out;
}

.drawer.open {
    left: 0;
}

.drawer ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.drawer ul li button:hover{
    background-color: var(--bg-color)
}

.drawer ul li button {
    transition: 0.3s;
    cursor: pointer;
    width: 100%;
    height: 45px;
    text-align: left;
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
}

.drawer ul li button i{
    padding: 5px;
    width: 20px;
}

/* Main Content */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px 20px;
    transition: margin-left 0.3s ease-in-out;
}

.card {
    max-width: 800px;
    width: 100%;
    background: var(--fg-color);
    padding: 20px 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px -1px var(--shadow-color), 0 2px 4px -2px var(--shadow-color);
    border-radius: 8px;
}

/* Progress Bars */
.progress-container {
    margin-top: 20px;
}

.progress-container-book{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background: var(--empty-bar);
    border: solid 1px rgb(148, 122, 73);
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    transition: width 0.4s ease;
}

.blue { background: #007bff; }
.green { background: #28a745; }
.red { background: #dc3545; }
.brown { background: var(--brown); }


/* Profile Button Style */
.profile-btn {
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    height: 36px;
    width: 36px;
    margin-left: 20px;

    background-color: transparent;
    border: solid 1px var(--text-color);
    color: var(--text-color);
    transition: left 0.3s ease-in-out;
}

.profile-btn:hover {
    transition: 0.2s;
    /* background-color: var(--brown); */
    border: solid 1px var(--profile);
    color: var(--profile);
}


/* Profile Popup Style */
.profile-popup {
    position: fixed;
    top: -400px;
    right: 0;
    width: 230px;
    height: 400px;
    background-color: var(--dr-color);
    border-radius: 0 0 0 7px;
    padding: 30px 0 0 0;
    box-shadow: 0 4px 6px -1px var(--shadow-color), 0 2px 4px -2px var(--shadow-color);
    transition: top 0.3s;
}

.profile-popup.open {
    top: 50px;
}

.profile-header {
    text-align: center;
}

.profile-header img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 3px solid var(--brown);
    object-fit: cover;
}

.profile-header h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
}

.profile-header p {
    font-size: 14px;
    color: #777;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 600px) {
    .navbar h1 {
        font-size: 20px;
    }

    .drawer{
        width: 150px;
    }

    .profile-popup{
        width: 130px;
        height: 300px;
        padding: 20px;
        box-shadow: 0 4px 6px -1px var(--shadow-color), 0 2px 4px -2px var(--shadow-color);
        transition: top 0.3s;
    }

    .profile-header img {
        width: 55px;
        height: 55px;
    }
}

@media (min-width: 768px) { /* Apply effect only on larger screens */
    .main-content.shifted {
        margin-left: 250px;
        /* transition: left 0.3s ease-in-out; */
    }
}