:root {
    /* transition: 0.3s; */

    --bg-color: #121212;
    --fg-color: #292421;
    --text-color: #e0e0e0;
    --text-color-2: #b3b3b3;
    --dr-color: #25211f;
    --empty-bar: #00000033;
    --profile: #e7cca5;

    --shadow-color: #0000001a;
    --link-normal: #836844;
    --link-dark: #412f19;

    --brown: #aa9476a0;
    --cover-color-2: #895f2ddf;
    --cover-color-1: #8b5d25df;
    --spine-color-1: #412e16df;
    --spine-color-2: #5f4526df;
    --book-hover: rgba(128, 128, 128);

}

body.light-mode {
    --bg-color: #c0b9b1;
    --fg-color: #e0d8d1;
    --text-color: #323232;
    --text-color-2: #585858;
    --dr-color: #cfc9c1;
    --empty-bar: #ffffff33;
    --profile: #946e40;


    --brown: #987748;
    --cover-color-1: #7d552380;
    --cover-color-2: #8b5d2580;
    --spine-color-1: #412e1680;
    --spine-color-2: #5f452680;
    --book-hover: rgba(128, 128, 128, 0.3);


}

/* Global Styles */
body {
    margin: 0;
    /* font-family: Arial, sans-serif; */
    /* font-family: 'Century Gothic', sans-serif; */
    /* font-family: 'helvetica', sans-serif; */
    /* font-family: 'Segoe UI Variable', system-ui, sans-serif; */
    /* font-family: ui-sans-serif, system-ui, sans-serif; */
    min-width: 350px;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: var(--text-color);
    background-color: var(--bg-color);
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--fg-color);
    padding: 8px 10px;
    box-shadow: 0 4px 6px -1px var(--shadow-color), 0 2px 4px -2px var(--shadow-color);

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.navbar .left {
    display: flex;
    flex-direction: row;
}

.navbar h1 {
    margin: 5px;
    margin-left: 25px;
}

.below-navbar {
    padding-top: 50px;
    height: 100%;
}

h2{
    margin: 0px;
    font-size: 20px;
}

p{
    margin: 4px 0 0 1px;
}

.menu-btn {
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    color: var(--text-color);
    margin-right: 25px;
    width: 10px;
}



/* Sidebar (Drawer) */
.drawer {
    position: fixed;
    left: -300px;
    width: 230px;
    height: 100%;
    background: var(--dr-color);
    /* border-right: 1px solid var(--link-normal); */
    box-shadow: 0 4px 6px -1px var(--shadow-color);
    transition: left 0.3s ease-in-out;
    z-index: 500;
}

.drawer.open {
    left: 0;
}

.drawer ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.drawer ul li button:hover{
    background-color: var(--bg-color)
}

.drawer ul li button {
    transition: 0.3s;
    cursor: pointer;
    width: 100%;
    height: 45px;
    text-align: left;
    background: none;
    border: none;
    outline: none;
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
}

.drawer ul li button i{
    padding: 5px;
    width: 20px;
}

/* Main Content */
body {
    background-image: url('/public/images/bookArt.png');
    background-size: cover;
    background-position: center;
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px 20px;
    transition: margin-left 0.3s ease-in-out;
}

.main-content-book {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 40px;
    width: 100%;
    transition: margin-left 0.3s ease-in-out;
}

.side-card {
    width: 45%;  
    background: var(--spine-color-2);
    /* border: solid 1px var(--brown); */
    padding: 20px 10px;
    padding-bottom: 0;
    box-shadow: 0 4px 6px -1px var(--shadow-color), 0 2px 4px -2px var(--shadow-color);
    border-radius: 8px;
}

.main-card {
    width: 50%;
    background: var(--spine-color-2);
    /* border: solid 1px var(--brown); */
    padding: 20px 10px;
    padding-bottom: 0;
    box-shadow: 0 4px 6px -1px var(--shadow-color), 0 2px 4px -2px var(--shadow-color);
    border-radius: 8px;
}

.card {
    max-width: 800px;
    width: 92%;
    background: var(--fg-color);
    /* max-height: 40vh;
    overflow-y: auto;
    scrollbar-color: transparent; */
    padding: 20px 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px -1px var(--shadow-color), 0 2px 4px -2px var(--shadow-color);
    border-radius: 8px;
}


.synopsis {
    padding: 0 10px 10px 10px; 
    color: var(--text-color-2);
    max-height: 35vh;
    overflow-y: auto;
    scrollbar-color: transparent;
    -webkit-scrollbar: none;
}

.synopsis::-webkit-scrollbar {
    background-color: #52493d75;
    color: #121212;
    border-radius: 6px;
    width: 8px;
}

.synopsis::-webkit-scrollbar-thumb {
    background: var(--spine-color-2);
    width: 7px;
    border-radius: 6px;
}


.library {
    max-width: 800px;
    padding: 20px;
    width: 92%;
    /* height: 100%;
    min-height: 800px; */

    background: var(--fg-color);
    margin-bottom: 20px;
    box-shadow: 0 4px 6px -1px var(--shadow-color), 0 2px 4px -2px var(--shadow-color);
    border-radius: 8px;
}

.books {
    margin-top: 25px;
    padding-left: 35px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 185px);
}

.book {
    display: flex;
    flex-direction: row;
    background: linear-gradient(145deg, var(--cover-color-1), var(--cover-color-2));
    width: 170px;
    height: 250px;
    border-radius: 8px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2),
                inset -5px -5px 10px rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    border: transparent;
    padding: 0;
    text-align: left;
    color: var(--text-color);
    cursor: pointer;
}

.book:hover{
    background-color: var(--book-hover);
    transition: 0.3s;
}

.spine {
    padding: 0px 7px;
    padding-top: 10px;
    width: 5px;
    height: 240px;
    background: linear-gradient(to right, var(--spine-color-1), var(--spine-color-1));
    left: 0;
    top: 0;
    border-radius: 8px 0 0 8px;
    box-shadow: inset -3px 0 5px rgba(0, 0, 0, 0.2);
}

.cover {
    margin-top: 3.5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    width: 140px;
    height: 240px;
    border: 1.5px solid rgba(45, 21, 17, 0.244);
    /* border-left: transparent; */
    margin-left: 3px;
    border-radius: 0 6px 6px 0;
}

/* Progress Bars */
.progress-container {
    margin: 5px;
    /* padding-left: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
    /* font-style: italic; */

    font-size: 17px;
}

.progress-container-book{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.progress-container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-bar {
    width: 100%;
    height: 10px;
    background: var(--empty-bar);
    border: solid 1px #514021;
    border-radius: 5px;
    overflow: hidden;
}

.progress {
    height: 100%;
    transition: width 0.4s ease;
}

.nav-button {
    display: none;
}

.blue { background: #007bff; }
.green { background: #28a745; }
.red { background: #dc3545; }
.brown { background: var(--brown); }


/* Profile Button Style */
.profile-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    height: 35px;
    width: 35px;
    /* margin-left: 20px; */
    /* padding: 1px; */

    background-color: transparent;
    border: solid 1px var(--text-color);
    color: var(--text-color);
    transition: left 0.3s ease-in-out;
}

.profile-btn:hover {
    transition: 0.2s;
    /* background-color: var(--brown); */
    border: solid 1px var(--profile);
    color: var(--profile);
}


/* Profile Popup Style */
.profile-popup {
    position: fixed;
    top: -400px;
    right: 0;
    width: 230px;
    height: 400px;
    background-color: var(--dr-color);
    border: 1px solid var(--link-normal);
    border-right: transparent;
    border-top: transparent;
    border-radius: 0 0 0 7px;
    padding: 30px 0 0 0;
    box-shadow: 0 4px 6px -1px var(--shadow-color), 0 2px 4px -2px var(--shadow-color);
    transition: top 0.3s;
    z-index: 500;
}

.profile-popup.open {
    top: 50px;
}

.profile-header {
    text-align: center;
}

.profile-header img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 3px solid var(--brown);
    object-fit: cover;
}

.profile-header h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 18px;
}

.profile-header p {
    font-size: 14px;
    color: #777;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 600px) {
    .navbar h1 {
        font-size: 20px;
    }

    .drawer{
        width: 150px;
    }

    .profile-popup{
        width: 230px;
        height: 300px;
        padding: 20px;
        box-shadow: 0 4px 6px -1px var(--shadow-color), 0 2px 4px -2px var(--shadow-color);
        transition: top 0.3s;
    }

    .profile-header img {
        width: 55px;
        height: 55px;
    }
}

@media (min-width: 768px) { /* Apply effect only on larger screens */
    .main-content.shifted {
        margin-left: 250px;
        /* transition: left 0.3s ease-in-out; */
    }
}

@media (max-width: 485px) {


    .shelf {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .window {
        /* position: relative; */

        width: 180px;
        overflow: hidden;
    }

    .books {
        padding-left: 0px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        transition: transform 0.4s ease;
    }

    .book {
        margin: 0 10px 0 5px;
        /* margin-right: 70px; */
        margin-bottom: 20px;
        box-shadow: 0 4px 6px -1px var(--shadow-color), 0 2px 4px -2px var(--shadow-color);
    }

    /* Navigation Buttons */
    .nav-button {
        display: flex;
        justify-content: center;
        align-items: center;

        background: rgba(0, 0, 0, 0.288);
        color: var(--text-color);
        border: none;
        height: 45px;
        width: 45px;
        cursor: pointer;
        border-radius: 50%;
        font-size: 17px;
        padding: 0px;
        
        /* z-index: 1; */
    }

    .synopsis {
        max-height: 200px;
        overflow-y: scroll;
    }
}
